body {
  background-color: black;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
}

h3 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  background-color: black;
  font-size: 70px;
  color: rgb(236, 84, 38);
}
img {
  display: block;
  margin: auto;
  width: 400px;
  height: 250px;
}

.bar {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: white;
  color: rgb(236, 84, 38);
  padding: 0px;
  overflow: hidden;
}
h4 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Amatic SC", cursive;
  font-family: "Condiment", cursive;
  font-family: "Explora", cursive;
  font-family: "Grape Nuts", cursive;
  font-family: "Inspiration", cursive;
  font-family: "Permanent Marker", cursive;
}
a {
  display: block;
  color: rgb(236, 84, 38);
  text-align: center;
  padding: 14px 16px;
}
a:hover:not(.active) {
  background-color: black;
}
.active {
  border: 1px solid black;

  color: white;
  background-color: rgb(236, 84, 38);
}
.prod {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.fotoProd {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-style: inset;
}
p {
  text-align: center;
}
.prod div {
  display: flex;
  margin: 20px;
  width: 200px;
  height: 300px;
  flex-direction: column;
}
.naranja {
  color: white;
  background-color: rgb(236, 84, 38);
  box-shadow: 0px 8px 16px 0px white;
}
.blanco {
  color: rgb(236, 84, 38);
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(236, 84, 38);
}
button {
  display: block;
  margin: auto;
}
.agregarProd {
  display: flex;
  margin: auto;
  width: 200px;
  height: 300px;
  flex-direction: column;
  color: white;
  background-color: rgb(236, 84, 38);
  box-shadow: 0px 8px 16px 0px white;
}
#nuevoProd {
  display: none;
}
